// fonts
$base-font-size: 10px;
$base-line-height: 28px;

// fonts
$font-primary: 'Verdana', sans-serif;

// colors
$color-white: #fefefe;
$color-black: #111111;
$color-blue: #7eb0d5;
$color-dark-blue: #3f5a77;
$color-green: #cbecc4;
$color-purple: #beb9db;
$color-turquoise: #8bd3c7;
$color-red: #ef705f;
$color-grey: #9a9a9a;
$color-grey-light: #e1e1e1;

// breakpoints
$breakpoints: (
  'small':  768px,
  'medium': 1024px
) !default;

// bezier
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
