@import '../../styles/variables';

.app {
  padding: 25px 30px;
  min-width: 600px;
}

.menu {
  display: table;
  margin: 60px auto 0;
  font-size: 1.2rem;

  .button--add {
    margin-right: 40px;
  }
}

.button {
  display: inline-block;
  width: 200px;
  height: 40px;
  padding: 0;
  border: none;
  outline: none;
  text-align: center;
  line-height: 4rem;
  border-radius: 5px;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}
